<div class="login-comp ">
    <h1 class="text-center login-title">Sign in to continue to Maverickz</h1>
    <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
            alt="">
        <form class="form-signin">
        <input type="text" class="form-control" placeholder="Email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in</button>
        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
    </div><br>
    <a [routerLink]="['../register']">Not Registered Yet</a>
</div>
