<div class="container outer">
  <div class="uploadItem">
    <h1>Upload new File</h1><br>
      <form method="post" enctype="multipart/form-data">
        <label for="Name_of_item"><input type="text" name="itemName" placeholder="Car Name" size="80" id="itemName"></label><br>
        <label for="description of item"><textarea type="text" name="description" rows="4" cols="82" id="description" placeholder="Car description here"></textarea></label><br>

        <div class="cat-par row">
          <div class="col-md-6">
            <label for="category"><input type="text" placeholder="Category" id="category">
            </label>
          </div>

          <div class="col-md-6">
            <label for="Parent_Season">
              <h5>Select Parent Node:</h5>
              <select name="parent" [(ngModel)]="data1" (ngModelChange)="fill_field()" id="parent">
                <!-- [ngModel]="data" ngModelChange-->
                <!-- implementing for loop here -->
                <option value="NULL">---Choose an option------</option>
                <option *ngFor="let dic of par_seq_list;" value="{{dic[0]}}">{{dic[0]}}</option>
                <!-- ending for loop here -->
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="Sequence">
              <input type="text" placeholder="Sequence of the item" name="seq" size="80" id="seq" [(ngModel)]="msg">
            </label><br>
          </div>
          <div class="col-md-6">
            <label for="Author"><input type="text" name="author" value="" placeholder="Name of the designer here" size="80" id="author"></label> <br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!-- file input -->
            <input type="file" name="fileupload" accept="video/*" value="fileupload" id="fileupload"><br><br>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary" value="Upload" (click)="upload()" style="float:right; margin-right: 3%;">Upload</button>
          </div>
        </div>
      </form>
  </div>
</div>
