.uploadItem{
  background-color: rgb(34, 54, 86);
  padding: 3%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-top: 2%;
  margin-left: 20%;
  width: 60%;
  color: white;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
