<html>
    <head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles2.css') }}">
    </head>
    <body>
        <div class="header">
			<div class="banner">
	    	    <h1>Welcome to UDS service.</h1>
	    	    <center><h3>Fill ur cart wid loads of happiness.</h3></center>
	    	</div>
        </div>

        <div class="container" id="container" style="padding: 12%;">
            <form action="/delete/{{id1}}" method="POST">
                <h1>Sure to delete this item?</h1>
                <button type="submit" class="btn btn-danger" style="align:right;">Delete </button>
            </form>
        </div>  

    </body>
</html>