<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login to UDS</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel=stylesheet type=text/css href="{{url_for('static',filename='login.css')}}">
    <script src="{{url_for('static',filename='login.js')}}"></script>
  </head>

<body>
  <div class="row header">
    <div class="col-lg-3">
      <img class="img-circle" src="{{url_for('static',filename='images/chefCap-index.jpg')}}" alt="Chef" style="width: 150px; height:150px; float:right;">
    </div>
    <div class="col-lg-9">
      <h1>Welcome to UDS Service.</h1>
    </div>
  </div>

  <div class="flash">
    {% if error != None: %}
    <center><h2>{{error}}</h2></center>
    {% endif %}
  </div>

    <div class="body" id="body">
        <div class="options" id="options" style="margin: 0 auto; margin-top: 24%;">
          <center><h3 style="color:white;">Choose an option to proceed</h3><br>
          <button class="btn btn-danger optButton"  type="button" name="logIn" onclick="logIn()">Log In</button>
          <button id="profile" class="btn btn-danger optButton" type="button" name="signUp" onclick="signUp()">Sign Up</button>
          </center>
        </div>
    </div>

</body>
<div class="footer">
  <h4>All &copy;copyrights reserved. Unified DCRUST Shopping.</h4>
</div>
</html>
