.matter{
  margin-left: 8%;
  width: 84%;
  background-color: rgb(133, 127, 255);
  color: white;
  padding-bottom: 4%;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
}
.bottom-content{
  padding: 4%;
}
.About-Us{
  text-align: center;
  background-color: rgba(55, 45, 45, 0.5);
  padding: 4%;
}
.Contact-Us{
  padding: 4%;
  margin-bottom: -2%;
}
.Contact-left{
  border-right: thick solid rgba(55, 45, 45, 0.5);
  vertical-align: middle;
}
.Social{
  margin-top: 4%;
  text-align:center;
  padding: 4%;
  background-color: rgba(55, 45, 45, 0.5);
  margin-bottom: -5%;
}
.social-imgs{
  margin-top: 2%;
}
